{% extends "layout.html" %} {% block body %}
<h1>Boyun Egzersizleri</h1>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate saepe
quisquam at qui voluptas, exercitationem dolore minus aliquid reiciendis et amet
velit repellendus quasi placeat autem iure consequatur veritatis officiis. Lorem
ipsum dolor sit amet consectetur adipisicing elit. Iure optio, id minima velit
nisi quaerat labore animi deserunt impedit commodi facilis recusandae odit,
harum quasi? Suscipit doloribus sint et dolores! 
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate saepe
quisquam at qui voluptas, exercitationem dolore minus aliquid reiciendis et amet
velit repellendus quasi placeat autem iure consequatur veritatis officiis. Lorem
ipsum dolor sit amet consectetur adipisicing elit. Iure optio, id minima velit
nisi quaerat labore animi deserunt impedit commodi facilis recusandae odit,
harum quasi? Suscipit doloribus sint et dolores! 
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate saepe
quisquam at qui voluptas, exercitationem dolore minus aliquid reiciendis et amet
velit repellendus quasi placeat autem iure consequatur veritatis officiis. Lorem
ipsum dolor sit amet consectetur adipisicing elit. Iure optio, id minima velit
nisi quaerat labore animi deserunt impedit commodi facilis recusandae odit,
harum quasi? Suscipit doloribus sint et dolores! 
{% endblock %}
